.footer {
 display: flex;
 flex-flow: column;
 align-items: center;
}
.h1 {
 font-size: 1.2em;
}

.icon {
 background-color: black;
 border-radius: 50%;
 height: max-content;
 width: max-content;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px;
 margin: 0.5em 0;
}
.icon > svg  {
 fill: white;
}


.inLine {
 display: flex;
 align-items: center;
 padding: 4px;
 gap: 30%;
}
.copy {
 font-size: 0.5em;
}
