.header {
 background-color: transparent;
 margin-bottom: 0em;
 height: 8vh;
 display: flex;
 align-items: center;
 padding: 0px;
}

.navBar {
 display: flex;
 color: black;
 gap: 5px;
 justify-content: flex-end;
 align-items: center;
 margin-right: 1em;
 flex: 1;
}
