@font-face {
 font-family: Chillax;
 src: url(../../fonts/TWKEverett-Bold.otf);
}

.mainST {
 height: 90vh;
 width: 100%;
 background-color: red;
 margin-top: 23vh;
}

.flexCL {
 text-align: center;
 line-height: 20px;
 height: 150px;
 overflow: hidden;
 z-index: 1;
 position: relative;
}



.font5EM {
 font-size: 4em;
 font-family: Chillax;
 margin: 0.5em;
}

.aside {
 display: flex;
 gap: 5px;
 justify-content: center;
}
.favoMelReverse {
 z-index: 0;
 position: absolute;
 width: 100%;
 height: 279px;
 top: 10%;
 left: 22%;
}
.buttonSTY {
 color: white;
 border: 1px solid rgb(255, 255, 255);
 border-radius: 10px;
 height: 35px;
 width: 110px;
 background-color: black;
 transition: background 0.5s ease, color 0.5s ease, all 0.5s ease ;
 margin-bottom: 3em;
}


.buttonSTY:hover {
 background-color: #fffc49;
 color: black;
 border: 1.5px solid transparent;
 outline: 1.5px solid rgb(255, 17, 17);

}
/* paragrafo */
.pf {
 width: 60%;

}
