@font-face {
 font-family: Chillax;
 src: url(../../fonts/TWKEverett-Bold.otf);
}

.mainST {
 height: 90vh;
 width: 100%;
 background-color: red;
}

.flexCL {
 text-align: center;
 line-height: 20px;
 height: 150px;
 overflow: hidden;
}



.font5EM {
 font-size: 4em;
 font-family: Chillax;
 margin: 0.5em;
}

.aside {
 display: flex;
 gap: 5px;
 justify-content: center;
}

.buttonSTY {
 color: black;
 border: 1.5px solid white;
 outline: 1.5px solid black;
 display: flex;
 align-items: center;
 gap: 5px;
 border-radius: 4px;
 padding: 5px 0 5px;
 width: 95px;
 background-color: transparent;
 transition: background 0.5s ease, color 0.5s ease, all 0.5s ease ;
 margin-bottom: 3em;
}


.buttonSTY:hover {
 background-color: #fffc49;
 color: black;
 border: 1.5px solid transparent;
 outline: 1.5px solid rgb(255, 17, 17);

}
/* paragrafo */
.pf {
 width: 60%;

}
